header {
	background: url("../media/padrão\ 1.png");
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

.caixa h1 img{
	width: 30%;
}

nav {
	position: absolute;
	top: 50px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 40px;
}

nav a {
	text-transform: uppercase;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 30px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}